*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
background-color: #fff;
}
.articles{
    background-color: #a5d8ff;
    
    margin:5rem 5rem;
    border-radius: .5rem;
   
    
    
}
.article-box{
   max-width: 100rem;
  height: 100%;
    margin:0 auto;
}
.article-box h2{
    font-size: 2.5rem;
}
.featuredposts {
background: linear-gradient( 0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.4) 100% );
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100% );
}
.featured-posts-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(245px,1fr));
    grid-gap:3rem;
    margin:2rem 0;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display:list-item;
}
.featured-post-background{
    display: block;
    height: 30rem;
    position:relative;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 14px 14px 60px -10px rgb(0 0 0 / 30%);
}
.featured-img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img{
    vertical-align: middle;
    border:0;
}
.featured-post-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1rem;
}

a{
    background-color: transparent;
}
.featured-post-link{
    display: block;
    hyphens:auto;
    overflow-wrap: break-word;
}
.featured-post-title{
    display: block;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 1.4;
    margin-bottom: .5rem;
    color:#fff

}
@media (pointer:fine){
.featured-post-description {
   
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .2s cubic-bezier(.4,0,.2,1),transform .2s cubic-bezier(.4,0,.2,1);
}}
@media(pointer:fine){
    .featured-post-inner{
        background-image:  linear-gradient( 0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100% );
    }
    }
@media (pointer: fine){
    .featured-img {
        object-position: center top;}
    }